<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NASA</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>




    <header>
        <img src="./img/logo_nasa.svg" alt="Logo" class="logo">

        <ul class="lista-menu">
            <li>Missions</li>
            <li>Galleries</li>
            <li>NASA TV</li>
            <li>Follow NASA</li>
            <li>Downloads</li>
            <li>About</li>
            <li>NASA Audiences</li>
        </ul>

        <div class="pesquisa">
            <input type="text" placeholder="Search">
        </div>
    </header>


    <ul class="lista-submenu">
        <li class="item-submenu">Humans in Space</li>
        <li class="item-submenu">Moon to Mars</li>
        <li class="item-submenu">Earth</li>
        <li class="item-submenu">Space Tech</li>
        <li class="item-submenu">Flight</li>
        <li class="item-submenu">Solar System and Beyond</li>
        <li class="item-submenu">STEM Engagement</li>
        <li class="item-submenu">History</li>
        <li class="item-submenu">Benefits to You</li>
    </ul>



    <main>
        <section>


            <div class="row">
                <div class="column-esquerda">
                    <img id="img-esquerda" src="img/img-esquerda.jpg" alt="">
                </div>
                <div class="column-direita-cima">
                    <img id="img-direita-cima" src="img/img-direita-cima.jpg" alt="">
                </div>

                <div class="column-direita-direita">
                    <img id="img-direita-direita" src="img/img-direita-cima.jpg" alt="">
                </div>
            </div>


            <div class="row">
                <div class="column-direita-baixo">
                    <img id="img-direita-baixo" src="img/img-direita-baixo.png" alt="">
                </div>
            </div>
        </section>


        <button id="more">MORE STORIES</button>


        <footer>
            <img src="./img/logo_nasa.svg" alt="Logo" class="logo-footer">
            <p>National Aeronautics and Space Administration
                NASA Official: Brian Dunbar</p>

            <ul class="lista-footer">
                <li class="item-footer">No Fear Act </li>
                <li class="item-footer">FOIA</li>
                <li class="item-footer">Privacy</li>
                <li class="item-footer">Acessibility</li>
                <li class="item-footer">Office of inspector General</li>
                <li class="item-footer">Office os Special Counsel</li>
                <li class="item-footer">Agency Financial Reports</li>
                <li class="item-footer">Contact NASA</li>
            </ul>
        </footer>


    </main>





    <script src="/js/script.js"></script>


</body>

</html>